.about-us {
  margin-top: 20px;
  img {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06),0 13px 35px 0 rgba(0, 0, 0, 0.2);
  }
  .icon-group {
    display: table-row;
    &:first-of-type {
      margin-top: 40px;
    }
    .icon {
      position: relative;
      display: table-cell;
      min-width: 60px;
      border-right: 1px solid #ccc;
      vertical-align: middle;
      text-align: center;
      padding: 10px 30px 10px 0;
      transition: border-color 1s, border-width 1s;
      &.third {
        padding-right: 23px;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        min-height: 1px;
        height: 80%;
        right: -2px;
        background-color: #b89276;
        opacity: 0;
        transition: opacity 1.5s;
      }
    }
    &:hover .icon:before {
      opacity: 1;
    }
    .description {
      display: table-cell;
      cursor: default;
      margin-left: 100px;
      padding: 8px 0 8px 20px;
      vertical-align: middle;
    }
    &:last-child .description {
      padding-top: 15px;
    }
  }
}

// responsive behavior

@media (max-width: 767px) {
  .about-us.section {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about.us.section {
    margin-top: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-us h1.section-title {
    font-size: 38px;
    text-align: center;
    margin-top: 30px;
  }

  .about-us h1.section-title .decorated:before {
    width: 30px;
    height: 3px;
    top: 50%;
    left: -40px;
  }

  .about-us h1.section-title .decorated:after {
    width: 30px;
    height: 3px;
    top: 50%;
    right: -40px;
  }
  .about-us  h1.section-title .decorated .thin-line:before {
    width: 60px;
    top: 53%;
    left: -70px;
  }

  .about-us h1.section-title .decorated .thin-line:after {
    width: 60px;
    top: 53%;
    right: -70px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .about-us h1.section-title {
    font-size: 44px;
    text-align: center;
    margin-top: 50px;
  }
  .about-us  h1.section-title .decorated .thin-line:before {
    width: 80px;
    top: 53%;
    left: -100px;
  }

  .about-us h1.section-title .decorated .thin-line:after {
    width: 80px;
    top: 53%;
    right: -100px;
  }
}

@media (min-width: 1440px) {
  .about-us h1.section-title {
    font-size: 46px;
  }

  .about-us h1.section-title .decorated:before {
    width: 30px;
    height: 3px;
    top: 50%;
    left: -40px;
  }

  .about-us h1.section-title .decorated:after {
    width: 30px;
    height: 3px;
    top: 50%;
    right: -40px;
  }
  .about-us  h1.section-title .decorated .thin-line:before {
    width: 60px;
    top: 53%;
    left: -70px;
  }

  .about-us h1.section-title .decorated .thin-line:after {
    width: 60px;
    top: 53%;
    right: -70px;
  }
}