@import "./css/slick-slider";

img {
  max-width: 100%;
}

.content {
  //padding-top: 80px;
}

button:focus {
  outline: none;
}

h1.section-title {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  font-weight:700;
}

h1.section-title.light {
  color: #fff;
}

h1.section-title .decorated {
  position: relative;
}

h1.section-title .decorated:before {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: -70px;
  background-color: #b89276;
}

h1.section-title .decorated:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -70px;
  background-color: #b89276;
}

h1.section-title .decorated .thin-line:before {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  position: absolute;
  top: 52%;
  left: -120px;
  background-color: #414047;
  opacity: 0.2;
}

h1.section-title .decorated .thin-line:after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  position: absolute;
  top: 52%;
  right: -120px;
  background-color: #414047;
  opacity: 0.2;
}

h1.section-title.light .decorated .thin-line:before {
  background-color: #fff;
}

h1.section-title.light .decorated .thin-line:after {
  background-color: #fff;
}

.section-description {
  font-size: 24px;
  margin-bottom: 30px;
}

.section-description.light {
  color: #fff;
}

// BUTTONS
.btn {
  position: relative;
  border-radius: 0;
  padding:16px 60px;
  transition: transform 0.4s;
}

.btn:hover, .btn:focus, .btn.focus {
  outline: none;
  box-shadow: none;
}

// buttons hover effect (inner frame)
.btn-frame {
  position: relative;
}

.btn-frame:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px solid rgba(65, 64, 71, 0.4);
  transition: all 0.4s ease;
  opacity: 0;
}

.btn-frame:hover.btn-frame:before {
  opacity: 1;
}

// buttons hover effect (bottom line)

.btn-line {
  position: relative;
}

.btn-line:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 45%;
  height: 3px;
  background: #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(-10px) translateX(-50%);
}

.btn-line:hover.btn-line:after {
  opacity: 1;
  -webkit-transform: translateY(0px) translateX(-50%);
  -moz-transform: translateY(0px) translateX(-50%);
  transform: translateY(0px) translateX(-50%);
}

// Default button

.btn-default {
  color: #333;
  background-color: transparent;
  border-color: rgb(65, 64, 71);
}

.btn-default:hover, .btn-default:focus, .btn-default.focus {
  color: #fff;
  background-color: rgb(184, 146, 118);
  box-shadow: 0 14px 20px 0 rgba(165, 130, 104, 0.5);
  transform: scale(1.05);
}

// Primary button

.btn-primary {
  position: relative;
}

.btn-primary:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px solid rgba(65, 64, 71, 0.4);
}

.btn-primary:hover {
  background-color: rgb(184, 146, 118);
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px 0 rgba(184, 146, 118, 0.7);
  transform: scale(1.05);
}

.btn-primary.btn-line:after {
  bottom:0;
}

// more button
.btn-more {
  padding: 0;
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: rgba(76, 75, 83, 0.702);
  border: 1px solid rgb(76, 75, 83);
}

.btn-more:focus {
  color: #fff;
}

.btn-more:hover {
  color: #fff;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px 0 rgba(184, 146, 118, 0.7);
  transform: scale(1.05);
}

// link button
.btn-link {
  position: relative;
  padding: 0 3px;
  transition: all 0.3s;
}

.btn-link:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
// responsive behavior

@media (max-width: 767px) {
  h1.section-title {
    font-size: 34px;
  }

  h1.section-title .decorated:before,
  h1.section-title .decorated:after,
  h1.section-title .decorated .thin-line:before ,
  h1.section-title .decorated .thin-line:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 1439px) {
}

@media (min-width: 1440px) {
}